
.mein_heading
{
    text-align: center;
    background-color: rgb(120, 39, 233);
    color: azure;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title
{
    text-align: center;
    font-size: 23px;
    color:rgb(120, 39, 233) ;
}
p
 { 
    text-align: center;
    font-size: 17px;
    color:rgb(120, 39, 233) ;
}
 
    